<div class="fields">
  <div class="left_field">
  <%= f.label :email,"Intended Recipient Email", :class => "required" %>
  <%= f.email_field :email %>
  </div>
  <div class="right_field">
  <%= f.label :email_confirmation, "Confirm Intended Recipient Email", :class => "required" %>
  <%= f.email_field :email_confirmation %>
  </div>
  <span class="remove_link">
  <%= link_to_remove_fields "remove", f %>
    </span>
</div>


