<div class="fields">
  <%= f.label :email,"Intended recipient email" %>
  <%= f.email_field :email %>
  
  <%= f.label :email_confirmation,"Intended recipient email confirmation" %>
  <%= f.email_field :email_confirmation %>
  <span class="remove_link">
  <%= link_to_remove_fields "remove", f %>
    </span>
</div>


