<div class="fields row">
  <div class="span5">
  <%= f.label :email,"Intended Recipient Email", :class => "required" %>
  <%= f.email_field :email %>
  </div>
  <div class="span6">
  <%= f.label :email_confirmation, "Confirm Intended Recipient Email", :class => "required" %>
  <%= f.email_field :email_confirmation %>
  </div>
  <span class="remove_link">
  <%= link_to_remove_fields "remove", f %>
    </span>
</div>


