<% if current_user.has_role? :intended_recipient %>
  <h2>List of Call Log for <%= current_user.parent.name %>, <%= current_user.parent.practice_name %></h2>
<% else %>
  <h2>List of Call Log for <%= current_user.name %>, <%= current_user.practice_name %></h2>
<% end %>


<table class="table table-hover table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Patient Number</th>
      <th>Date & Time of conversation</th>
      <th>Duration of conversation(sec.)</th>
       <th>Billable Amount($)</th>
      <th>Patient Identifier </th>
      <th>Reason For Consultation</th>
      <th>Recording of the conversation</th>
      </tr>
  </thead>
  <tbody>
    <% @call_logs.each do |call_log| %>
      <tr>
        <td><%= call_log.patient_mobile_number %></td>
        <td><%= call_log.conversation_datetime %></td>
        <td style="text-align: center"><%= call_log.conversation_call_duration %></td>
        <td style="text-align: center"><%= call_log.billing_summary.billable_ammount rescue ''%></td>
        <td><% unless call_log.patient_identifier_link == '' %>
  <%= link_to image_tag("sound.png", :border => 0, :width=>"25px", :height=>"25px"), call_log.patient_identifier_link, :target =>"_blank" %><%  end %></td>
        <td><% unless call_log.reason_for_consultation_link == '' %> 
  <%= link_to image_tag("sound.png", :border => 0, :width=>"25px", :height=>"25px"), call_log.reason_for_consultation_link, :target =>"_blank" %><%  end %></td>
        <td><% unless call_log.conversation_recording_link == '' %>
  <%= link_to image_tag("sound.png", :border => 0, :width=>"25px", :height=>"25px"), call_log.conversation_recording_link, :target =>"_blank" %><%  end %></td>
      </tr>
    <% end %>
       <%= will_paginate @call_logs unless @call_logs.blank? %>
  </tbody>
</table>

