<section style="margin-left: 10px;">
  <h1>Send Call Log to User</h1>
  <div class="container">
    <div class="row-fluid">
      <div class="span6" >
        <%= form_tag(send_call_log_mail_path, :id=>"send-call-log-form") do %>
        <%= hidden_field_tag :call_id, params[:id] %>
           <div class="form-group">
               <%= label_tag 'email', 'DocIt Subscriber Email', :class =>"required" %>
               <%= email_field_tag 'email', nil, class: 'form-control text-width', placeholder: 'Email Address' %>
           </div>
           
        <div class="form-group button-margin">
              <%= submit_tag 'Send Email', class: 'btn btn-default btn-about pull-right' %>
           </div>
           
       <% end %>
        </div>

</div>
</section>
  
<script type="text/javascript">
  $(document).ready(function () {
  $("#send-call-log-form").validate({
    debug: true,
    rules: {
    "email": {required: true, email: true}
    }
    , submitHandler: function(form) { form.submit(); } 
  });
});
</script>