<h2 id="title">List of Intended Recipients</h2>
<div id="add-new">
   <%= link_to 'Add New Intended Recipient', {controller:'intended_recipients', action:'new'}, {:class=>"btn btn-success", remote: true} %>
</div>
<div id="new-intended-recipient"> 
<table class="table table-hover table-condensed table-bordered table-striped">
  
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Registered</th>
      <th>Date of registration</th>
      <th>Enabled</th>
      <th>Action</th>
      
      </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.name %></td>
        <td><%= manager.email %></td>
        <td><%= registered_column manager %></td>
        <td><%= manager.registration_date %></td>
        <td><%= disabled_column manager %></td>
        <td><%= disabled_user manager %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

