<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Docit" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
<body>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span1">
              <div id="logo"> <a  href="<%= root_url %>"> <%= image_tag("logo.png") %></a></div></div>
            <div class="span11">
              <ul id="menu-menu" class="nav">
              <% unless user_signed_in? %>
              <li><%= link_to "Home", root_url  %></li>
              <li><%= link_to "Sign In", new_user_session_url %></li>
              <li><%= link_to "Info for Billers/Coders", info_for_billers_coders_url %></li>
              <li><%= link_to "Contact Us", contact_us_url %></li>
              <% else %>
              <li><%= link_to "Home", root_url  %></li>
               
                <% if current_user.has_role? :doctor %>
                 <li><%= link_to "Manage Billing Manager", billing_manager_url %></li>
                 <% end %>
                  <li><%= link_to "Info for Billers/Coders", info_for_billers_coders_url %></li>
                <li><%= link_to "Contact Us", contact_us_url %></li>
              <% end %>
         
            </ul>
              <% if user_signed_in? %>
                   <ul id="menu-menu" class="nav navbar-nav navbar-right" style="float:right">                  
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%='Welcome <b>'.html_safe + current_user.name + "</b>".html_safe%> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                 <li><%= link_to "Edit Profile", edit_user_registration_url %></li>
                <li><%= link_to "View Call Log", call_logs_url %></li>
                        <li class="divider"></li>
                       <li><%= link_to "Sign Out", destroy_user_session_path, :method=> :delete  %></li>
                      </ul>
                    </li>
                  </ul>
            
              <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  <div id="wrapper" class="clearfix">
    <div class="container">
        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
       
        </div><!--/row-->

      <footer>
        <p>&copy; Docit <%= Time.now.year %><br>Storage of phone consultations is FREE.  DocIt provides HIPAA secure access to consultations anytime for you and your practice biller.  Just $20 dollars/ month for UNLIMITED phone consultations.   Consults will be stored for 10 years.  All you need is a smartphone operated by Apple or Android.   DocIt is made by Doctors, for Doctors and health professionals.  <br>
        
          <span style="font-size: 11px;">All terms and conditions may vary at any time.  Docit is held harmless in all matters related to billing and coding and those related to patient privacy and confidentiality.
          </span>
          </p>
      </footer>

    </div> <!-- /container -->
</div>
  </body>
</html>
